@model IEnumerable<Product>
<h1>Products</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Category Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td>@entity.ProductId</td>
                <td>@entity.ProductName</td>
                <td>@entity.Description</td>
                <td>@entity.CategoryId</td>
            </tr>
        }
    </tbody>
</table>